/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 2, 2016, 3:11:31 PM
    Author     : Aftab Ahmad
    Twitter    : @AftabAhmadAwan
    Built on JavaScript Password Strength Meter by Aaron Snowberger http://codepen.io/jekkilekki/pen/ZOvqGq
*/
.signinpanel{width: 750px;margin: 6% auto 0 auto;}
#meter div {height: 8px; width: 5px;margin: 0 2px 0 0; padding: 0;float:left;background-color: #dddddd;}
#meter {margin: 10px;}
#meter.rating-1 .tint, #meter.rating-2 .tint{background-color: red;}
#meter.rating-3 .tint {background-color: orange;}
#meter.rating-4 .tint {background-color: limegreen;}
#meter.rating-5 .tint {background-color: green;}
#meter.rating-5 {box-shadow: 0 0 15px 1px rgba(3,6,6,0.08);-webkit-box-shadow: 0 0 15px 1px rgba(3,6,6,0.08);-moz-box-shadow: 0 0 15px 1px rgba(3,6,6,0.08);}